<script src="//cdn.jsdelivr.net/npm/asciinema-player@3.7.1/dist/bundle/asciinema-player.min.js"></script>
<link href="//cdn.jsdelivr.net/npm/asciinema-player@3.7.1/dist/bundle/asciinema-player.min.css" rel="stylesheet">

<script>
(function() {
  document.querySelectorAll('[data-asciinema-player]').forEach(function(el) {
    console.log(el.dataset.asciinemaPlayer);
    AsciinemaPlayer.create(el.dataset.asciinemaPlayer, el, {
      rows: 30,
      preload: true,
      theme: 'solarized-dark',
      fit: false,
    });
  });
})();
</script>
